{% extends "base.html" %}

{% block title %}Жанры{% endblock %}

{% block content %}
    <h1>Жанры</h1>

    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Название на английском</th>
                <th>Название на русском</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ genre.name_en }}</td>
                <td>{{ genre.name_ru }}</td>
                <td>{{ genre.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="add-link" href="{% url 'create_genre' %}">Добавить жанр</a>
{% endblock %}