<tbody>
    <tr>
        <td>1</td>
        <td>Pop</td>
        <td>Поп</td>
        <td>Мелодичная музыка с простой структурой, ориентированная на массового слушателя.</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Rock</td>
        <td>Рок</td>
        <td>Музыка с акцентом на электрогитару, ударные и энергичный ритм.</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Hip-Hop</td>
        <td>Хип-хоп</td>
        <td>Стиль, основанный на ритмичном речитативе под биты и сэмплы.</td>
    </tr>
</tbody>